<form id="form" action="/named-cat" method="post">
  <div>
    <input type="text" name="name">
    <input type="text" name="surname">
    <input type="text" name="age">
    <input type="text" name="sex">
    <input type="submit" value="Submit">
  </div>
</form>
